@font-face {
  font-family: "PermanentMarker";
  src: url(./PermanentMarker.ttf);
}

@font-face {
  font-family: "ArchitectsDaughter";
  src: url(./ArchitectsDaughter.ttf);
}

@font-face {
  font-family: "PatrickHand";
  src: url(./PatrickHand.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "ArchitectsDaughter";
  font-size: 20px;
}

input {
  font-family: "ArchitectsDaughter";
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

input[type="text"] {
  border-bottom: 1px solid black;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 8fr 1fr;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: snow;
  display: flex;
  padding-left: 5%;
}

header .logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-family: "PermanentMarker";
  gap: 1rem;
}

header .logo img {
  width: 15%;
  min-width: 60px;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  background-color: snow;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px;
  border-right: 2px solid black;
}

.inbox {
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.projects-container h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.projects-list {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  font-size: 18px;
}

.project-creator {
  margin-top: 1rem;
  width: 100%;
}

.submit-project,
.cancel-project {
  width: 47%;
}

.projectCard {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.add-todo-btn,
.add-project-btn {
  font-family: "ArchitectsDaughter";
  background-color: snow;
  padding: 0;
  outline: none;
  border: none;
  font-size: 1.65rem;
  cursor: pointer;
  font-weight: bold;
}

.add-todo-btn {
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-todo-btn span {
  color: rgb(219, 85, 85);
  font-size: 1.7rem;
}

.board {
  grid-column: 2/3;
  grid-row: 2/4;
  background-color: rgb(226, 224, 224);
  overflow-y: auto;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  min-width: 170px;
}

.todoCard {
  border: 2px solid black;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  border-radius: 15px;
}

.todoCard .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.delete-todo {
  color: rgb(180, 25, 25);
  font-size: 1.5rem;
  justify-self: flex-end;
  align-self: flex-start;
  cursor: pointer;
  font-family: sans-serif;
}

.todo-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.todo-description {
  font-size: 0.9rem;
  font-style: italic;
}

.todo-dueDate {
  font-size: 0.9rem;
}

.todo-creator {
  margin-top: 3rem;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  padding: 1rem;
}

.todo-creator form,
.project-creator form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#todo-name,
#project-name {
  font-weight: bold;
  font-size: 20px;
}

.date-box {
  width: 50%;
}

.color-box {
  width: 50%;
}

.input-box label {
  font-size: 18px;
  color: #727272;
}

form button {
  font-size: 16px;
  font-family: "ArchitectsDaughter";
  background-color: transparent;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid gray;
  vertical-align: -2px;
  color: green;
  border-radius: 50%;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.8em;
  right: -6px;
  top: -0.6em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background-color: transparent;
  color: gray;
}

.active {
  display: inherit;
}

.inactive {
  display: none;
}
